body{
    background-color: grey;
    max-width: 600px;
    margin: auto;
    color: black;
    font-family: sans-serif;
}

article + article {
    line-height: 1.6;
    margin: 30px;
    border-top: 1px solid black;
}
